footer 
    h3 This web page was made by: 
        a(href="https://github.com/ZManak", target="_blank") Javier Fuertes
            img(src='/assets/github.png', width="2%")
        
        a(href="https://github.com/GabrielaSpace", target="_blank") Gabriela García
            img(src='/assets/github.png', width="2%")
        a(href="https://github.com/PabloMatMar", target="_blank") Pablo Mateos
            img(src='/assets/github.png', width="2%")