doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Login
    body 
        include ./header.pug
        main
            h3 Welcome
            p Please login

            
            section 
                a(class='button' href='/signup') Sign Up
                a(class='button' href='/login') Log In

        include ./footer.pug