doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ./header.pug
        main
            h3 Welcome
            p Please login

            //if pokemons
                h3 Mis pokemons favoritos:
                ul
                    each pokemon in pokemons
                        li #{pokemon}
            section 
                fieldset
                    form(action="/" method="post")
                     legend  Email
                     input(type="text" name ="email" required)
                     |
                     |
                     legend Password
                     input(type="text" name ="email" required)
                     |
                     |
                     input(type="submit", value="Login")
            
            section 
                a(class='button' href='/signup') Sign Up

        include ./footer.pug
        //script(src="script.js") 