nav(class="topnav")
    a(href="#" class="burger_button" id="burger_button")
        img(src="https://assets.stickpng.com/images/588a64e0d06f6719692a2d10.png" class="burger_menu")
    
    div(id="links_menu")
        each item in [['../dashboard', 'Dashboard'], ['../search', 'Search'], ['../favMovies','Movies'], ['../logout' , 'Logout']]
           button  
                a(href=  item[0])= item[1]

    
