nav(class="burger")
    a(href="#" class="burger_button" id="burger_button")
        span(class="buger_button__icon")
    div(class="burger-container")
        div(class="content")
            ul(class="menu")
                li
                    a(href="./") Logout