nav(class="topnav")
    a(href="#" class="topmenu" id="topmenu") Menu
    div(id="links_menu")
        each item in [['../dashboard', 'Dashboard'], ['../search', 'Search'], ['../movies','Movies'], ['../logout' , 'Logout']]
            a(href=  item[0])= item[1]

    a(href="#" class="burger_button" id="burger_button")
        img(src="./logos/burger.png" class="burger_menu")
