doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign Up
    body 
        include ./header.pug
        main
            h3 Create User
            section 
                h1(id="prueba")
                fieldset
                    form(class="signup" action="/signup" method="post")
                        legend  Email
                        input(type="text" name ="emailSignup" required)
                        |
                        |
                        legend Password
                        input(type="text" name ="passwordSignup" required)
                        |
                        |
                        legend Repeat Password
                        input(type="text" name="password2Signup" required)
                        br
                        input(type="submit" id="signup" value="Sign Up")
            
            section 
                a(class='button' href='/') Login

        include ./footer.pug
        script(type="text/javascript" src="public/scripts.js") 