doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ./header.pug
        main
            h3 Create User
            section 
                fieldset
                    form(action="/" method="post")
                        legend  Email
                        input(type="text" name ="email" required)
                        |
                        |
                        legend Password
                        input(type="text" name ="password" required)
                        |
                        |
                        legend Repeat Password
                        input(type="text" name="password2" required)
                        br
                        input(type="submit", value="Login")
            
            section 
                a(class='button' href='/') Login

        include ./footer.pug
        //script(src="script.js") 